.header {
    grid-column: full-start / full-end;    
    position: sticky;
    top: 0;
    background-color: rgba($main-bg, 0.95);
    z-index: 50;
}

.navigation {
    grid-column: center-start / center-end;
    display: flex;
    padding: 1.5rem 0 1.5rem 0;    
    align-items: center;
}

.hero {
    grid-column: center-start / center-end;
    padding: 1rem 0 1rem 0;    
    min-height: 45vh;
}

.nav-bar {
    margin-left: auto;
    display: flex;   

    & a:link,
    & a:visited {
        margin-left: 5rem;
        color: $main-white-muted;
        text-decoration: none;
    }
}

.mobile-menu {
    display: none;
    font-size: 4.2rem;
    transition: all .3s ease-out;


    @media only screen and (max-width: $bp-small) {
        display: block;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
}

.desktop-menu {
    display: flex;
    list-style: none;

    @media only screen and (max-width: $bp-small) {
        display: none;
    }
}

.mobile-menu-content {
    grid-column: center-start / center-end;
    padding: 1rem 0;
    display: none;
    list-style: none;
    justify-content: space-between;
    transition: all .3s ease-out;

    & a:link,
    & a:visited {
        color: $main-white-muted;
        text-decoration: none;
    }
}

.mobile-menu-content--is-visible {
    grid-column: center-start / center-end;
    padding: 1rem 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    transition: all .3s ease-out;

    & a:link,
    & a:visited {
        color: $main-white-muted;
        text-decoration: none;
    }
}

.intro {
    margin-top: 8rem;

    &-image{
        grid-column: full-start / full-end;
        min-height: 50vh;
        background-image: url('../images/hayden-morran-hero.jpg');
        background-position: 50% 40%;
        background-size: cover;
        background-attachment: scroll;
    }

    &__title {
        font-size: 4.6rem;
        font-weight: 700;
        color: $main-white;
        line-height: 1.2;
    }

    &__subtitle {
        font-size: 4.6rem;
        font-weight: 400;
        color: $main-white-muted;
        max-width: 64rem;
        line-height: 1.2;
    }
}