*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    color: var(--color-white);
    background: var(--color-primary);
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg-1);
    color: var(--color-text);
    min-height: 100vh;
    min-width: 32rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    max-width: 95%;
    min-width: 32rem;
    width: 100rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    //grid-template-rows: 100vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $breakpoint-lg) {
        //grid-template-rows: 6rem 100vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $breakpoint-md) {
        //grid-template-rows: 6rem calc(100vh - 6rem);
    }
}

.wave {
    display: inline-block;
    animation: wave-animation 3s infinite;
    animation-delay: 5s;
    transform-origin: 65% 80%;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) } 
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}