// COLOR VARIABLES
$main-bg-light: #707070;
$main-bg: #101d2c;
$main-bg-dark: #1D1F25;
$main-white: #FFFCFF;
$main-white-muted: #CFCDC6;
$main-yellow: #c69963;

// FONT VARIABLES
$font-primary: 'Heebo', sans-serif;

// BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px