.about {
    padding: 10rem 0;

    @media only screen and (max-width: $breakpoint-md) {
        padding: 10rem 0 7.5rem 0;
    }

    &-heading {
        margin-bottom: 2rem;
    }

    &-text {
        max-width: 95%;
        font-size: 2rem;
        line-height: 1.8;
        margin-bottom: 2rem;
        color: var(--color-text-light);

        @media only screen and (max-width: $breakpoint-md) {
            max-width: 100%;
            font-size: 1.8rem;
        }
    }
}